@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}
header
{
    background-image: url('/src/assets/images/pattern-bg.png');
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
}
#map
{
    z-index: -1;
}
.leaflet-container
{
    height: 65vh;
    z-index: 1;
  
}
.header_details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    
}
.heading
{
    margin-top: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.input_box
{
    width: 34%;
    display: flex;
    justify-content: center;
}
.input_ip
{
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-basis: 90%;
    height: 4rem;
    font-family: 'Rubik', sans-serif;
    outline: none;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.arrow_logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.location_info
{
    background-color: white;
    z-index: 10;
    display: flex;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-30%);
    padding:0.2rem 2rem;
    border-radius: 15px;
    width: 70%;
 
}
.location_info p
{
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: gray;
    font-size: 12px;
}

.ip_address
{
    flex:1;
    padding-top: 1rem;
}
.location
{
    flex:1;
    padding-top: 1rem;
}
.timezone
{
    flex:1;
    padding-top: 1rem;
}

.isp{
    flex:1;
    padding-top: 1rem;
}
.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

@media only screen and (max-width:375px){
    .header_details
    {
        padding-top: 1rem;
    }
    .heading
    {
        font-size: 1.5rem;
    }
    .location_info{
        /* display: none; */
        display: flex;
        top: 41%;
        transform: translate(-50%,-43%);
        flex-direction: column;
        width: 71%;
        align-items: center;
    }
    .input_box
    {
       width: 90%;
       
      
    }
    .leaflet-div-icon
    {
        font-size: 1rem;
    }
    .input_ip{
       flex-basis: 75%;
       border-top-left-radius: 15px;
       height: 3.5rem;
        border-bottom-left-radius: 15px;
        font-size: 1rem;
       
    }
    
    .location_info p
    {
        font-size: 10px;
        margin-bottom: 0;
    }
    .location_info h2
    {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .ip_address
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .location{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timezone
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .isp
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }
    .isp h2
    {
        text-align: center;
    }
    .arrow_logo
    {
      flex-basis: 18%;
      border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}